In [ ]:
from IPython.core.display import HTML, display

# Set the maximum width to utilize available space (adjust as needed)
max_cell_width = "83%"

# Set the custom CSS to maximize cell width
custom_css = f"""
<style>
/* Maximize cell width */
.container {{
    width: {max_cell_width} !important;
}}
</style>
"""

# Apply the custom CSS
display(HTML(custom_css))

In [ ]:
# ! pip install pandas pandas-profiling
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from skimpy import skim
#from pandas_profiling import ProfileReport

In [ ]:
df=pd.read_csv(r"C:\Users\91779\Downloads\dataset.csv")
skim(df)

In [ ]:
df=df.drop_duplicates()

In [ ]:
df.shape

In [ ]:
# profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)
# profile

In [ ]:
#checking the null values 
df["Base MSRP"].value_counts()
#basically there are them 90% data in base Msrp is Zero we can drop it but trying to fill them with approriate values and using outsource

In [ ]:
df.head(5)

In [ ]:
#took four features combinations
# df['msrp_flag']=np.where(df['Base MSRP']==0,1,0)
# Base_MSRP_df=df[df['msrp_flag']==0].groupby(['Make','Model','Electric Vehicle Type','Clean Alternative Fuel Vehicle (CAFV) Eligibility'])['Base MSRP'].mean().reset_index()
# Base_MSRP_df

In [ ]:
#Trying with 4 comination of models(Make	Model	Electric Vehicle Type)
df["flag_msrp"]=np.where(df["Base MSRP"]==0,1,0)
base_msrp_df=df[df["flag_msrp"]==0].groupby(['Make','Model','Electric Vehicle Type','Clean Alternative Fuel Vehicle (CAFV) Eligibility'])['Base MSRP'].mean().reset_index()
base_msrp_df
base_msrp_df.rename(columns={'Base MSRP':'Base_MSRP_mean'},inplace=True)
df=pd.merge(df,base_msrp_df,left_on=['Make','Model','Electric Vehicle Type','Clean Alternative Fuel Vehicle (CAFV) Eligibility'],right_on=['Make','Model','Electric Vehicle Type','Clean Alternative Fuel Vehicle (CAFV) Eligibility'],how='left')   
df["Base MSRP"]=np.where(df["flag_msrp"]==1,df['Base_MSRP_mean'],df['Base MSRP'])

In [ ]:
df = df.drop(columns=["flag_msrp","Base_MSRP_mean"], axis=1)

In [ ]:
len(df.columns)

In [ ]:
#Trying with 3 comination of models(Make	Model	Electric Vehicle Type)
df["flag_msrp"]=np.where(df["Base MSRP"].isna(),1,0)
base_msrp_df=df[df["flag_msrp"]==0].groupby(['Make','Model','Electric Vehicle Type'])['Base MSRP'].mean().reset_index()
base_msrp_df
base_msrp_df.rename(columns={'Base MSRP':'Base_MSRP_mean'},inplace=True)
df=pd.merge(df,base_msrp_df,left_on=['Make','Model','Electric Vehicle Type'],right_on=['Make','Model','Electric Vehicle Type'],how='left')   
df["Base MSRP"]=np.where(df["flag_msrp"]==1,df['Base_MSRP_mean'],df['Base MSRP'])

In [ ]:
df = df.drop(columns=["flag_msrp","Base_MSRP_mean"], axis=1)

In [ ]:
df['Base MSRP'].isna().sum()

In [ ]:
#Trying with 2 comination of models(Make	Model	Electric Vehicle Type)
df["flag_msrp"]=np.where(df["Base MSRP"].isna(),1,0)
base_msrp_df=df[df["flag_msrp"]==0].groupby(['Make','Model'])['Base MSRP'].mean().reset_index()
base_msrp_df
base_msrp_df.rename(columns={'Base MSRP':'Base_MSRP_mean'},inplace=True)
df=pd.merge(df,base_msrp_df,left_on=['Make','Model'],right_on=['Make','Model'],how='left')   
df["Base MSRP"]=np.where(df["flag_msrp"]==1,df['Base_MSRP_mean'],df['Base MSRP'])

In [ ]:
df = df.drop(columns=["flag_msrp","Base_MSRP_mean"], axis=1)

In [ ]:
df['Base MSRP'].isna().sum()

In [ ]:
#Trying with 2 comination of models(Make	Model	Electric Vehicle Type)
df["flag_msrp"]=np.where(df["Base MSRP"].isna(),1,0)
base_msrp_df=df[df["flag_msrp"]==0].groupby(['Make','Electric Vehicle Type'])['Base MSRP'].mean().reset_index()
base_msrp_df
base_msrp_df.rename(columns={'Base MSRP':'Base_MSRP_mean'},inplace=True)
df=pd.merge(df,base_msrp_df,left_on=['Make','Electric Vehicle Type'],right_on=['Make','Electric Vehicle Type'],how='left')   
df["Base MSRP"]=np.where(df["flag_msrp"]==1,df['Base_MSRP_mean'],df['Base MSRP'])

In [ ]:
df = df.drop(columns=["flag_msrp","Base_MSRP_mean"], axis=1)

In [ ]:
len(df.columns)

In [ ]:
df['Base MSRP'].isna().sum()

In [ ]:
#Trying with 1 comination of models(Make	Model	Electric Vehicle Type)
df["flag_msrp"]=np.where(df["Base MSRP"].isna(),1,0)
base_msrp_df=df[df["flag_msrp"]==0].groupby(['Make'])['Base MSRP'].mean().reset_index()
base_msrp_df
base_msrp_df.rename(columns={'Base MSRP':'Base_MSRP_mean'},inplace=True)
df=pd.merge(df,base_msrp_df,left_on=['Make'],right_on=['Make'],how='left')   
df["Base MSRP"]=np.where(df["flag_msrp"]==1,df['Base_MSRP_mean'],df['Base MSRP'])

In [ ]:
df = df.drop(columns=["flag_msrp","Base_MSRP_mean"], axis=1)

In [ ]:
df['Base MSRP'].isna().sum()

In [ ]:
df[df['Base MSRP'].isna()]['Make'].unique()

In [ ]:
df.columns

In [ ]:
df[df['Base MSRP'].isna()]['Model'].value_counts()[6:25]

In [ ]:
df[df["Model"]=="RAV4 PRIME"]
df.groupby(["Make"])["Clean Alternative Fuel Vehicle (CAFV) Eligibility"].value_counts()

In [ ]:
df["Clean Alternative Fuel Vehicle (CAFV) Eligibility"].value_counts()

In [ ]:
# Boolean indexing to filter rows with the specified conditions
condition = (df["Make"] == "TOYOTA") & (df["Model"] == "RAV4 PRIME") & (df["Model Year"] == 2022)

# Use fillna() to fill missing values in "Base MSRP" column for the specified rows
df.loc[condition, "Base MSRP"] = df.loc[condition, "Base MSRP"].fillna(47100)
df['Base MSRP'].isna().sum()

In [ ]:
condition = (df["Make"] == "TOYOTA") & (df["Model"] == "RAV4 PRIME") & (df["Model Year"] == 2021)
# Use fillna() to fill missing values in "Base MSRP" column for the specified rows
df.loc[condition, "Base MSRP"] = df.loc[condition, "Base MSRP"].fillna(42872)
df['Base MSRP'].isna().sum()

In [ ]:
# Use fillna() to fill missing values in "Base MSRP" column for the specified rows
df.loc[(df["Make"] == "TOYOTA") & (df["Model"] == "RAV4 PRIME") & (df["Model Year"] == 2021), "Base MSRP"] = df.loc[(df["Make"] == "TOYOTA") & (df["Model"] == "RAV4 PRIME") & (df["Model Year"] == 2021), "Base MSRP"].fillna(42872)

In [ ]:
df.loc[(df["Make"] == "CHEVROLET") & (df["Model"] == "VOLT") & (df["Model Year"] == 2019), "Base MSRP"] = df.loc[(df["Make"] == "CHEVROLET") & (df["Model"] == "VOLT") & (df["Model Year"] == 2019), "Base MSRP"].fillna(35000)
df['Base MSRP'].isna().sum()

In [ ]:
df.loc[(df["Make"] == "CHEVROLET") & (df["Model"] == "VOLT") & (df["Model Year"] == 2017), "Base MSRP"] = df.loc[(df["Make"] == "CHEVROLET") & (df["Model"] == "VOLT") & (df["Model Year"] == 2017), "Base MSRP"].fillna(33200)
df['Base MSRP'].isna().sum()

In [ ]:
df.loc[(df["Make"] == "CHEVROLET") & (df["Model"] == "VOLT") & (df["Model Year"] == 2013), "Base MSRP"] = df.loc[(df["Make"] == "CHEVROLET") & (df["Model"] == "VOLT") & (df["Model Year"] == 2013), "Base MSRP"].fillna(39145)
df['Base MSRP'].isna().sum()

In [ ]:
condition=(df["Make"] == "NISSAN") & (df["Model"] == "LEAF") & (df["Model Year"] == 2013)
df.loc[condition, "Base MSRP"] = df.loc[condition, "Base MSRP"].fillna(34840)
df['Base MSRP'].isna().sum()

In [ ]:
condition=(df["Make"] == "NISSAN") & (df["Model"] == "LEAF") & (df["Model Year"] == 2015)
df.loc[condition, "Base MSRP"] = df.loc[condition, "Base MSRP"].fillna(28040)
df['Base MSRP'].isna().sum()

In [ ]:
condition=(df["Make"] == "NISSAN") & (df["Model"] == "LEAF") & (df["Model Year"] == 2019)
df.loc[condition, "Base MSRP"] = df.loc[condition, "Base MSRP"].fillna(32490)
df['Base MSRP'].isna().sum()

In [ ]:
import numpy as np
# Define the conditions for different model years and make
condition_2018_nissan = (df["Model Year"] == 2018) & (df["Make"] == "NISSAN")
condition_2019 = (df["Model Year"] == 2016) &(df["Make"] == "NISSAN") 
condition_2020 = (df["Model Year"] == 2022) &(df["Make"] == "NISSAN") 

# Set the Base MSRP values based on the conditions
df["Base MSRP"] = np.where(condition_2018_nissan, 32490, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2019, 29290, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2020, 27400, df["Base MSRP"])
df['Base MSRP'].isna().sum()

In [ ]:
condition_2017_nissan = (df["Model Year"] == 2017) & (df["Make"] == "CHEVROLET")
condition_2020 = (df["Model Year"] == 2020) &(df["Make"] == "CHEVROLET") 
condition_2022 = (df["Model Year"] == 2022) &(df["Make"] == "CHEVROLET") 
condition_2019 = (df["Model Year"] == 2019) &(df["Make"] == "CHEVROLET") 
# Set the Base MSRP values based on the conditions
df["Base MSRP"] = np.where(condition_2017_nissan, 36620, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2020, 37495, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2022, 34700, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2019, 37495, df["Base MSRP"])
df['Base MSRP'].isna().sum()

In [ ]:
df[df["Model"]=="PRIUS PRIME"]["Model Year"].value_counts()

In [ ]:
condition_2017_toyota = (df["Model Year"] == 2017) & (df["Make"] == "TOYOTA")
condition_2018_toyota = (df["Model Year"] == 2018) & (df["Make"] == "TOYOTA")
condition_2020_toyota = (df["Model Year"] == 2020) & (df["Make"] == "TOYOTA")
condition_2019_toyota = (df["Model Year"] == 2019) & (df["Make"] == "TOYOTA")

# Set the Base MSRP values based on the conditions and fill only if the value is NaN
df["Base MSRP"] = np.where(condition_2017_toyota & df["Base MSRP"].isnull(), 31000, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2018_toyota & df["Base MSRP"].isnull(), 33100, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2020_toyota & df["Base MSRP"].isnull(), 27400, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2019_toyota & df["Base MSRP"].isnull(), 30005, df["Base MSRP"])
df['Base MSRP'].isna().sum()

In [ ]:
condition_2019_toyota = (df["Model Year"] == 2019) & (df["Model"] == "FUSION")
condition_2016_toyota = (df["Model Year"] == 2016) & (df["Model"] == "FUSION")
condition_2014_toyota = (df["Model Year"] == 2014) & (df["Model"] == "FUSION")
condition_2015_toyota = (df["Model Year"] == 2015) & (df["Model"] == "FUSION")

# Set the Base MSRP values based on the conditions and fill only if the value is NaN
df["Base MSRP"] = np.where(condition_2019_toyota & df["Base MSRP"].isnull(), 25015, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2016_toyota & df["Base MSRP"].isnull(), 26060, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2014_toyota & df["Base MSRP"].isnull(), 27400, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2015_toyota & df["Base MSRP"].isnull(), 22500, df["Base MSRP"])
df['Base MSRP'].isna().sum()

In [ ]:
condition_2019_toyota1 = (df["Model Year"] == 2019) & (df["Make"] =="FORD")
condition_2016_toyota2 = (df["Model Year"] == 2016) & (df["Make"] =="FORD")
condition_2014_toyota3 = (df["Model Year"] == 2014) & (df["Make"] =="FORD")
condition_2015_toyota4 = (df["Model Year"] == 2015) & (df["Make"] =="FORD")
df["Base MSRP"] = np.where(condition_2019_toyota1 & df["Base MSRP"].isnull(), 25015, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2016_toyota2 & df["Base MSRP"].isnull(), 26060, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2014_toyota3 & df["Base MSRP"].isnull(), 27400, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2015_toyota4 & df["Base MSRP"].isnull(), 22500, df["Base MSRP"])
df['Base MSRP'].isna().sum()

In [ ]:
condition_2021_toyota1 = (df["Model Year"] == 2021) & (df["Model"] =="MUSTANG MACH-E")
condition_2022_toyota2 = (df["Model Year"] == 2022) & (df["Model"] =="MUSTANG MACH-E")
df["Base MSRP"] = np.where(condition_2021_toyota1 & df["Base MSRP"].isnull(), 46500, df["Base MSRP"])
df["Base MSRP"] = np.where(condition_2022_toyota2 & df["Base MSRP"].isnull(), 42500, df["Base MSRP"])
df['Base MSRP'].isna().sum()

In [ ]:
df["flag_msrp"]=np.where(df["Base MSRP"].isna(),1,0)
base_msrp_df=df[df["flag_msrp"]==0].groupby(['Make','Model'])['Base MSRP'].mean().reset_index()
base_msrp_df
base_msrp_df.rename(columns={'Base MSRP':'Base_MSRP_mean'},inplace=True)
df=pd.merge(df,base_msrp_df,left_on=['Make','Model'],right_on=['Make','Model'],how='left')   
df["Base MSRP"]=np.where(df["flag_msrp"]==1,df['Base_MSRP_mean'],df['Base MSRP'])
df['Base MSRP'].isna().sum()

In [ ]:
df[pd.isnull(df["Model"])]  
#FILLIng with outsourdce
df["Model"] = np.where(df["Model"].isnull(), "XC40", df["Model"])

In [ ]:
df['Base MSRP'].isna().sum()

In [ ]:
df["mean_ele"]=np.where(df["Electric Range"]==0,1,0)
df_ele_mean=df[df["mean_ele"]==0].groupby(["Make","Model"])["Electric Range"].mean().reset_index()
df_ele_mean
df_ele_mean.rename(columns={"Electric Range":"Electric Range_mean"},inplace=True)
df=pd.merge(df,df_ele_mean,left_on=["Make","Model"],right_on=["Make","Model"],how='left')   
df["Electric Range"]=np.where(df["mean_ele"]==1,df['Electric Range_mean'],df["Electric Range"])

In [ ]:
df.drop(columns=["mean_ele","Electric Range_mean"],axis=1,inplace=True)

In [ ]:
skim(df)

In [ ]:
condi1=(df["Model"]=="MUSTANG MACH-E")
condi2=(df["Model"]=="ID.4")
condi3=(df["Model"]=="EV6")
condi4=(df["Model"]=="R1T")
df["Electric Range"]=np.where(condi1 & df["Electric Range"].isnull(),256,df["Electric Range"])
df["Electric Range"]=np.where(condi2 & df["Electric Range"].isnull(),328,df["Electric Range"])
df["Electric Range"]=np.where(condi3 & df["Electric Range"].isnull(),440,df["Electric Range"])
df["Electric Range"]=np.where(condi4 & df["Electric Range"].isnull(),314,df["Electric Range"])

In [ ]:
# Fill missing values in the "Electric Range" column with the mean of the available values
df["Electric Range"] = df["Electric Range"].fillna(df["Electric Range"].mean())
df["Base MSRP"] = df["Base MSRP"].fillna(df["Base MSRP"].mean())

df["mean_le"]=np.where(df["Legislative District"].isna(),1,0)
df_ele_mean=df[df["mean_le"]==0].groupby(["County"])["Legislative District"].mean().reset_index()
df_ele_mean
df_ele_mean.rename(columns={"Legislative District":"Legislative District_mean"},inplace=True)
df=pd.merge(df,df_ele_mean,left_on=["County"],right_on=["County","City"],how='left')   
df["Legislative District"]=np.where(df["mean_le"]==1,df["Legislative District_mean"],df["Legislative District"])  

df["flag_msrp"]=np.where(df["Base MSRP"].isna(),1,0)
base_msrp_df=df[df["flag_msrp"]==0].groupby(['Make'])['Base MSRP'].mean().reset_index()
base_msrp_df
base_msrp_df.rename(columns={'Base MSRP':'Base_MSRP_mean'},inplace=True)
df=pd.merge(df,base_msrp_df,left_on=['Make'],right_on=['Make'],how='left')   
df["Base MSRP"]=np.where(df["flag_msrp"]==1,df['Base_MSRP_mean'],df['Base MSRP'])

df.drop(columns=["flag_msrp","Base_MSRP_mean","mean_le","Legislative District_mean"],axis=1,inplace=True)

In [ ]:
# using group by
df["Legislative District"]=df["Legislative District"].astype("str")
df["Legislative District"]=df.groupby(["County", "City", "State", "Postal Code"])["Legislative District"].transform(lambda x: x.fillna(x.mode().iloc[0]))
#df["Legislative District"] = df["Legislative District"].fillna(df["Legislative District"].mode())
df["Legislative District"]

In [ ]:
# using VNR method
def fill_vehicle_location(row):
    if pd.notna(row['Vehicle Location']):
        return row['Vehicle Location']
    else:
        state = row['State']
        postal_code = row['Postal Code']
        city = row['City']
        county = row['County']
        return f"{city}, {county}, {state}, {postal_code}"

# Apply the function to fill missing 'Vehicle Location' values
df['Vehicle Location'] = df.apply(fill_vehicle_location, axis=1)

In [ ]:
df.drop(columns=["flag_msrp","Base_MSRP_mean"],axis=1,inplace=True)

In [ ]:
df["Electric Utility"]=df.groupby(["Make","Model","Electric Vehicle Type","Clean Alternative Fuel Vehicle (CAFV) Eligibility"])["Electric Utility"].transform(lambda x: x.fillna(x.mode()[0]))

In [ ]:
 df.dropna(subset=['Legislative District'],inplace=True)

In [ ]:
df["Legislative District"] = df["Legislative District"].replace("nan", 0)

In [ ]:
mode_district = df["Legislative District"].mode().iloc[0]

# Replace the 0 values with the mode
df.loc[df["Legislative District"] == 0, "Legislative District"] = mode_district

In [ ]:
def find_outliers_in_all_columns(data):
    outliers_info = {}  # Dictionary to store column names and their respective outlier counts

    for column_name in data.columns:
        if np.issubdtype(df[column_name].dtype, np.number):  # Check if the column is numeric
            # Step 1: Calculate Q1 and Q3
            Q1 = df[column_name].quantile(0.25)
            Q3 = df[column_name].quantile(0.75)

            # Step 2: Calculate IQR
            IQR = Q3 - Q1

            # Step 3: Identify outliers
            lower_bound = Q1 - 1.5 * IQR
            upper_bound = Q3 + 1.5 * IQR

            outliers = df[(df[column_name] < lower_bound) | (df[column_name] > upper_bound)]

            # Store column name and outlier count in the dictionary
            outliers_info[column_name] = len(outliers)

    return outliers_info

In [ ]:
find_outliers_in_all_columns(df)

In [ ]:
import plotly.express as pe

In [ ]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

def find_outliers_in_all_columns(data):
    outliers_info = {}  # Dictionary to store column names and their respective outlier counts

    for column_name in df.columns:
        if np.issubdtype(df[column_name].dtype, np.number):  # Check if the column is numeric
            # Step 1: Calculate Q1 and Q3
            Q1 = df[column_name].quantile(0.25)
            Q3 = df[column_name].quantile(0.75)

            # Step 2: Calculate IQR
            IQR = Q3 - Q1

            # Step 3: Identify outliers
            lower_bound = Q1 - 1.5 * IQR
            upper_bound = Q3 + 1.5 * IQR

            outliers = df[(data[column_name] < lower_bound) | (df[column_name] > upper_bound)]

            # Store column name and outlier count in the dictionary
            outliers_info[column_name] = len(outliers)

            # Create a Box Plot using Plotly
            fig = go.Figure()
            fig.add_trace(go.Box(y=df[column_name], name=column_name, boxpoints='outliers'))

            fig.update_layout(title=f"Box Plot for '{column_name}' (Outliers highlighted)")

            # Display the Plotly figure
            fig.show()

    return outliers_info

# Example usage:
# Assuming 'data' is your DataFrame containing the dataset.
outliers_info = find_outliers_in_all_columns(df)

In [ ]:
fig = pe.bar(df['Make'].value_counts(), x=df['Make'].value_counts().index, y='Make', title='Number of EV Vehicles manufactured by Make')
fig.show()

In [ ]:
import plotly.graph_objects as go
def create_ev_choropleth_map(data):
    # Calculate the count of EV vehicles for each state
    ev_count_by_state = data['State'].value_counts().reset_index()
    ev_count_by_state.columns = ['State', 'EV Count']

    # Create the Choropleth map using plotly.graph_objects
    fig_choropleth = go.Figure(data=go.Choropleth(
        locations=ev_count_by_state['State'],
        z=ev_count_by_state['EV Count'],
        locationmode='USA-states',
        colorscale='Viridis',
        colorbar_title='Number of EV Vehicles',
    ))

    # Set the map title and layout
    fig_choropleth.update_layout(
        title_text='Choropleth Map of EV Vehicles by State',
        geo_scope='usa',  # Limit map scope to the USA
    )

    # Return the Choropleth map figure
    return fig_choropleth
# Call the function and display the Choropleth map
fig = create_ev_choropleth_map(df)
fig.show()

In [ ]:
# Converting the 'Model Year' column to datetime type
df['Model Year'] = pd.to_datetime(df['Model Year'], format='%Y')

# Group by 'Model Year' and 'Make' to get the count of each make for each year
df_grouped = df.groupby(['Model Year', 'Make']).size().reset_index(name='Count')

In [ ]:
pip install bar_chart_race

In [ ]:
import bar_chart_race as bcr
# Pivot the DataFrame to have 'Make' as columns and 'Model Year' as index
df_pivot = df_grouped.pivot(index='Model Year', columns='Make', values='Count')

# Fill missing values using forward fill (pad)
df_pivot = df_pivot.fillna(method='pad')

In [ ]:
import bar_chart_race as bcr
import warnings
with warnings.catch_warnings():
 warnings.simplefilter("ignore")


# Assuming you have prepared the DataFrame 'df_pivot' as shown in your previous code.

# Create the Racing Bar Plot and show it directly in Jupyter Notebook
bcr.bar_chart_race(
    df=df_pivot,
    orientation='h',
    sort='desc',
    n_bars=10,
    fixed_order=False,
    title='EV Make Racing Bar Plot by Year',
    label_bars=True,
    period_label={'x': 0.99, 'y': 0.25, 'ha': 'right', 'va': 'center'},
    period_fmt='%Y',
)